<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间对应dao层接口全路径-->
<mapper namespace="com.ldf.demo.mapper.ProductMapper">

    <select id="findAll" resultType="product">
        select * from product
        <where>
            <if test="fuzzyName!=null">
                productName like concat('%',#{fuzzyName},'%')
            </if>
        </where>
    </select>

    <select id="findById" resultType="product">
        select * from product where id=#{id};
    </select>

    <update id="productUpdate" parameterType="product">
        update product set productNum=#{productNum}, productName=#{productName},cityName=#{cityName},
        DepartureTime=#{departureTime},productPrice=#{productPrice},productDesc=#{productDesc},productStatus=#{productStatus}  where id=#{id};
    </update>

    <insert id="save" parameterType="product">
        insert into product values(null,#{productNum},#{productName},#{cityName},#{departureTime},#{productPrice},#{productDesc},#{productStatus});
    </insert>

    <delete id="deleteById">
        delete from product where id=#{id}
    </delete>
</mapper>