<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间对应dao层接口全路径-->
<mapper namespace="com.ldf.demo.mapper.RoleMapper">

    <resultMap id="findAll" type="role">
        <id property="id" column="id"/>
        <result property="roleName" column="roleName"/>
        <result property="roleDesc" column="roleDesc"/>
    </resultMap>
<!--查询所有角色信息-->
    <select id="findAll" resultMap="findAll">
        select * from role
    </select>

    <resultMap id="findById" type="role">
        <id property="id" column="rid"/>
        <result property="roleName" column="roleName"/>
        <result property="roleDesc" column="roleDesc"/>
        <collection property="permissions" ofType="permission">
            <id property="id" column="pid"/>
            <result property="permissionName" column="permissionName"/>
            <result property="url" column="url"/>
        </collection>
    </resultMap>
<!--根据id查询角色信息-->
    <select id="findById" resultMap="findById">
        SELECT
             r.`id` rid,r.`roleName`,r.`roleDesc`,p.`id` pid,p.`permissionName`,p.`url`
        FROM
             role r,
             role_permission rp,
             permission p
        WHERE
             r.`id`=rp.`roleId`
        AND
             p.`id`=rp.`permissionId`
        AND
             r.`id`=#{id}
    </select>

<!--新建角色-->
    <insert id="save" parameterType="role">
        insert into role values (null,#{roleName},#{roleDesc});
    </insert>

    <resultMap id="findRoleByIdAndNotPermission" type="permission">
        <id property="id" column="pid"/>
        <result property="permissionName" column="permissionName"/>
        <result property="url" column="url"/>
    </resultMap>
<!--根据角色id查询没有的资源权限-->
    <select id="findRoleByIdAndNotPermission" resultMap="findRoleByIdAndNotPermission">
        SELECT
            p.`id` pid,p.`permissionName`,p.`url`
        FROM
            permission p
        WHERE
            p.`id`
        NOT IN(
        SELECT
            p.`id`
        FROM
            role r,
            role_permission rp,
            permission p
        WHERE
            r.`id` = #{id}
        AND
            r.`id` = rp.`roleId`
        AND
            p.`id` = rp.`permissionId`)
    </select>


    <insert id="addpermission">
        insert into role_permission values (#{permissionId},#{roleId});
    </insert>

    <!--删除关联表-->
    <delete id="deleteByIdAndRole_User">
        delete from users_role where roleId=#{id}
    </delete>
<!--删除角色-->
    <delete id="deleteById">
        delete from role where id=#{id}
    </delete>
<!--删除角色与资源权限的关联-->
    <delete id="deleteByIdAndRole_PermissionId">
        delete from role_permission where permissionId=#{permissionId} and roleId=#{roleId}
    </delete>
</mapper>
